ul{
	padding: 0;
}
li{
	list-style: none;
	display: inline-block;
	padding-right: 10px;
}
li a {
	color: #333;
}
li a:hover {
	color: #00c853;
}
.about-me a{
	border: 2px solid #FA7E7E;
	padding: 0.7rem 2rem;
	color: #FA7E7E;
}
.about-me h5{
	color: #FA7E7E;
}
.bg-red, .bg-red a{
	color: #fff;
}
.bg-red a{
	border: 2px solid #fff;
	padding: 0.7rem 2rem;
}
.skills h6{
	margin-top: 1.5rem;
}


